:root {
    --main_color: #00122e;
    --sec_color: #182842;
    --danger_color: rgb(253, 53, 53);
    --succes_color: rgb(45, 202, 45);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all .3s;
}

.header {
    width: 100%;
    /* height: 100%; */
    /* height: 150vh; */
    background: var(--main_color);
    position: relative;
}

.nav {
    background: var(--sec_color);
    padding: 10px 20px;
    transition: 0.6s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    /* margin-bottom: 10px; */
}

.nav.stiky {
    border-radius: 0 0 15px 15px;
    box-shadow: 3px 3px 8px 7px rgba(255, 255, 255, 0.212);
}

.nav .logo1 {
    width: 70%;

    cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
    /* margin-right: 50px; */
    width: 100%;
    background-color: black;
}

.navigation .button img {
    width: 25px;
    border-radius: 50px;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.navigation .button {
    text-decoration: none;
    float: right;
    padding: 12px;
    border-radius: 5px;
    /* margin: auto; */
    color: white;
    width: 50px;
    background-color: var(--danger_color);
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
}

.navigation a:hover {
    width: 125px;
}

.navigation a:hover .logout {
    opacity: .9;
}

.navigation a {
    text-decoration: none;
}

/* //-------------------------------------- */

.row {
    margin: 0 10px;
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
}

.div {
    position: relative;

}

.host_img {
    width: 100%;
    height: 100%;

    border-radius: 15px;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    /* background: red; */
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls img {
    width: 6%;
    margin: 20px 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

.controls .img,
.controls .img1 {
    width: 8%;
}

.controls img:hover {
    transform: translateY(-10px);
}

.joined {
    background: var(--sec_color);
    border-radius: 15px;
    padding: 30px 40px 50px;
    color: #fff;
}

.joined div {
    margin-top: 15px;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
    /* position: relative; */

}


.joined img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.Absent {
    background: var(--sec_color);
    border-radius: 15px;
    padding: 30px 40px 50px;
    color: #fff;
    margin-top: 20px;
    /* position: relative; */
}

.Absent div {
    /* width: 100% */
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-gap: 5px;

}

.Absent img {
    margin-top: 20px;
    width: 100%;
    height: 70%;
    margin-left: 5px;
    border-radius: 50%;
}

.user {
    position: relative
}

.status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--succes_color);
    border: 2px solid white;
    bottom: 0;
    right: 0;
    position: absolute;
}

.audio {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px 0;
    border: 2px solid white;
    bottom: 15px;
    right: 10px;
    position: absolute;
    /* display: none; */
}

.active {
    display: none;
}

/* ------------------------Card------------------------------------ */
.center_Load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.size {
    height: 150px;
    width: 150px;
    color: white;
}

.grid {
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 2rem;
}

.card_add {
    background: transparent;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset -5px -5px 5px rgba(255, 255, 255, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.05),
        -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    background: var(--sec_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .box_add{ */

.circel_add {
    margin: 30%;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    background: var(--main_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-plus-circle {
    color: white;
    font-size: 6rem;
    transition: .5s;
}

.fa-plus-circle:hover {
    cursor: pointer;
    transform: rotate(360deg);
}

.popup-form {
    /* background-image : linear-gradient(185deg ,rgb(243, 189, 189) ,rgb(243, 53, 53) ); */
    background: rgb(255, 255, 255);
    width: 40%;
    /* height: 50%; */
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    opacity: 0.95;

}

.cancel-popup {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
}

.session-form {
    padding: 30px;

}

.input {
    margin: 30px;
    text-align: left;
}

.input-select input {
    margin-bottom: 10px;
    width: 100%;
    background-color: transparent;
    padding: 5px;
    border: 1px solid var(--main_color);
    transition: 0.1s;
    border-radius: 9px;
}

.input-select input:focus {
    outline: none;
    animation-name: rotate_input;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes rotate_input {
    0% {
        border-left: 3px solid var(--danger_color);
    }

    25% {
        border-top: 3px solid var(--danger_color);
    }

    50% {
        border-right: 3px solid var(--danger_color);
    }

    75% {
        border-bottom: 3px solid var(--danger_color);
    }

    100% {
        border: 3px solid var(--danger_color);
    }
}

.card {
    background: transparent;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset -5px -5px 5px rgba(255, 255, 255, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.05),
        -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    position: relative;
}

.card .box {
    background: var(--sec_color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.card:hover .box {
    transform: translateY(-30px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    background: linear-gradient(45deg, var(--sec_color), #546c94);

}

.card .box .content {
    padding: 20px;
    text-align: center;

}

.card .box .content h2 {

    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
}

.card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
}

.card .box .content a {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 20px;
    background: var(--danger_color);
    margin-top: 15px;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.493);
}

.card:hover .box .content a {
    background: rgb(13, 230, 60);
}



@media all and (max-width : 1250px) {
    #header {
        /* width: 100%; */
        height: 100vh !important;
    }
}

@media screen and (max-width : 990px) {
    .grid {

        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        grid-gap: 2rem;
    }

    .status {
        width: 10px;
        height: 10px;
        bottom: 0;
        right: 0;
    }

    .joined {
        padding: 20px;
    }

    .Absent {
        padding: 20px;
    }

    .joined p {
        font-size: 11px;
    }

    .joined div {
        /* grid-template-columns: repeat(2,1fr); */
        grid-template-columns: repeat(3, 30px);
        grid-gap: 3px;
    }

    .user img {
        margin-top: 0px;
        width: 100%;
        /* margin-right: 15px ; */
    }

    .Absent div {

        display: grid;
        grid-template-columns: repeat(4, 35px);
        grid-gap: 5px;

    }

    .Absent p {
        font-size: 11px;
    }

    .Absent img {
        margin-top: 10px;
        width: 100%;
    }
}

@media screen and (max-width : 780px) {
    .grid {

        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-gap: 2rem;
    }

    .Absent div {

        display: grid;
        grid-template-columns: repeat(3, 30px);
        grid-gap: 5px;

    }

    .joined {
        padding: 20px;
    }

    .Absent {
        padding: 20px;
    }
}

@media screen and (max-width : 500px) {
    .grid {

        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        /* grid-gap: 2rem; */
    }

    .Absent div {

        display: grid;
        grid-template-columns: repeat(2, 35px);
        grid-gap: 5px;

    }

    .joined {
        padding: 20px;
    }

    .Absent {
        padding: 10px;
    }

}