table {
    border: 1px solid rgb(92, 92, 92);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed; }
  
  table caption {
    font-size: 2.5em;
    margin: .5em 0 .75em;
    color: var(--main-color);
   }
  
  table tr {
    border: 1px solid #ddd;
    padding: .35em; }
    table tr [data-label="delete"] a {
      background-color: var(--danger-color);
      color: var(--color-white);
      cursor: pointer; }
    table tr td a {
      display: inline-block;
      padding: .7rem 1rem;
      border-radius: 100px;
      background-color: var(--main-color);
      color: var(--color-white) !important;
      cursor: pointer;
      font-size: 1.5rem; }
  
  table th,
  table td {
    padding: .625em;
    text-align: center; }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase; }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0; }
    table caption {
      font-size: 2em; }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px; }
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em; }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: left; }
    table td:last-child {
      border-bottom: 0; } }
